<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        @*<div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Job Portal", "Index", "Dashboard", new { area = "RegionAdmin" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
            <div class="">
                @Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>*@

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Job Portal", "Index", "Dashboard", new { area = "RegionAdmin" }, new { @class = "navbar-brand" })
                <div class="right" style="right:0;position:absolute">
                    @Html.ActionLink("Logout", "Logout", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
            @*<div class="">
            <select id="drpMasterRegion">
                <option value="0">Select Region</option>
            </select>
        </div>*@

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @*<script>
        $(document).ready(function () {
            bindRegionDropdown();
            function bindRegionDropdown() {
                //drpMasterRegion
                $.ajax({
                    url: "/GlobalAdmin/RegionsMaster/GetAllRegions",
                    type: 'get',
                    success: function (result) {
                        if (result != false) {
                            $.each(result.Data, function (data, value) {
                                $("#drpMasterRegion").append($("<option></option>").val(value.Id).html(value.RegionName));
                            })
                        }
                        else {
                            alert("Some error occured. Please try again.");
                        }
                    },
                    failure: function (result) {
                        swal(result.responseText);
                    },
                    error: function (result) {
                        swal(result.responseText);
                    }
                });
            }

            $("#drpMasterRegion").on('change', function (e) {
                e.preventDefault();
                if ($(location).attr('pathname').indexOf('DashBoard') != -1) {
                    alert('dssfgfd');
                } else {
                    //alert('eeeee');


                }

            });
        });
    </script>*@
</body>
</html>